{
    "singleQuote": true,
    "semi": false,
    "printWidth": 200,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
